@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <p>
        When
        <math xmlns="http://www.w3.org/1998/Math/MathML">
            <mi>a</mi><mo>&#x2260;</mo><mn>0</mn>
        </math>,
        there are two solutions to
        <math xmlns="http://www.w3.org/1998/Math/MathML">
            <mi>a</mi><msup><mi>x</mi><mn>2</mn></msup>
            <mo>+</mo> <mi>b</mi><mi>x</mi>
            <mo>+</mo> <mi>c</mi> <mo>=</mo> <mn>0</mn>
        </math>
        and they are
        <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
            <mi>x</mi> <mo>=</mo>
            <mrow>
                <mfrac>
                    <mrow>
                        <mo>&#x2212;</mo>
                        <mi>b</mi>
                        <mo>&#x00B1;</mo>
                        <msqrt>
                            <msup><mi>b</mi><mn>2</mn></msup>
                            <mo>&#x2212;</mo>
                            <mn>4</mn><mi>a</mi><mi>c</mi>
                        </msqrt>
                    </mrow>
                    <mrow> <mn>2</mn><mi>a</mi> </mrow>
                </mfrac>
            </mrow>
            <mtext>.</mtext>
        </math>
    </p>
</div>
<div>
    <p>Welcome \[P(E) = {n \choose k} p^k (1-p)^{n-k}\] test for a result.</p>
    <p>Welcome \(P(E) = {n \choose k} p^k (1-p)^{n-k}\) test for a result.</p>
    <p>Welcome again \( x^i_2 \) test for a result</p>
    <p>Welcome again \( \sum_{n=1}^\infty \) test for a result</p>
    <p>Welcome again \( [\frac ab,c] \) test for a result</p>
    <p>Welcome again \( a+1 \above 1pt b \) test for a result</p>
</div>
<div>
    \[\mathbf{V}_1 \times \mathbf{V}_2 =  \begin{vmatrix}
    \mathbf{i} & \mathbf{j} & \mathbf{k} \\
    \frac{\partial X}{\partial u} &  \frac{\partial Y}{\partial u} & 0 \\
    \frac{\partial X}{\partial v} &  \frac{\partial Y}{\partial v} & 0
    \end{vmatrix}  \]
</div>